.note {
	height: 200px;
	min-width: 150px;
	transition: box-shadow 0.2s ease-in-out;
	cursor: pointer;
}

.note:hover {
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
